@font-face {
  font-family: 'ArabicFont';
  src: url(/src/assets/fonts/Rubik.ttf);
}
:root{
  font-family: 'ArabicFont', sans-serif;
  --black: #1b1b1b;
  --light-blue: #8DAEE1;
  --blue: #7B94D6;
  --grey: #4B5165;
  --pink: #EDA1AB;
  --orange: #FFD3BD;
  color: var(--orange);
  background-color: var(--black);
  text-align: end;
  cursor: grab;
  
}
body{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
a {
  text-decoration: inherit;
  color: var(--light-blue);
  /*  */
  font-weight: 500;
  border: var(--pink) solid;
  padding: 0.8rem;
  margin: 0.5rem;
}
h1:hover{
  border: var(--grey) solid;
}
a:hover {
  color: var(--blue);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
